.App .createCoupon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 50px;
}

.App .createCoupon .createCouponCard {
    width: fit-content;
    padding: 10px;
    height: fit-content;

}

.App .createCoupon .error {
    color: red;
}

.App .createCoupon .form-control {
    width: fit-content;
    display: inline;
}