.App .showCoupons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 50px;
}

.App .showCoupons .showCouponCard {
    width: 30%;
    padding-top: 7px;
    height: fit-content;

}

.App .showCoupons .error {
    color: red;
}